# Assignment 1
### Understanding Uncertainty
### Due 9/5

1. Create a new public repo on Github under your account. Include a readme file.
2. Clone it to your machine. Put this file into that repo.
3. Use the following function to download the example data for the course:

In [1]:
def download_data(force=False):
    """Download and extract course data from Zenodo."""
    import urllib.request, zipfile, os
    
    zip_path = 'data.zip'
    data_dir = 'data'
    
    if not os.path.exists(zip_path) or force:
        print("Downloading course data")
        urllib.request.urlretrieve(
            'https://zenodo.org/records/16954427/files/data.zip?download=1',
            zip_path
        )
        print("Download complete")
    else:
        print("Download file already exists")
        
    if not os.path.exists(data_dir) or force:
        print("Extracting data files...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(data_dir)
        print("Data extracted")
    else:
        print("Data directory already exists")

download_data()

Downloading course data
Download complete
Extracting data files...
Data extracted

4. Open one of the datasets using Pandas:
    1. `ames_prices.csv`: Housing characteristics and prices
    2. `college_completion.csv`: Public, nonprofit, and for-profit educational institutions, graduation rates, and financial aid
    3. `ForeignGifts_edu.csv`: Monetary and in-kind transfers from foreign entities to U.S. educational institutions
    4. `iowa.csv`: Liquor sales in Iowa, at the transaction level
    5. `metabric.csv`: Cancer patient and outcome data
    6. `mn_police_use_of_force.csv`: Records of physical altercations between Minnessota police and private citizens
    7. `nhanes_data_17_18.csv`: National Health and Nutrition Examination Survey
    8. `tuna.csv`: Yellowfin Tuna Genome (I don't recommend this one; it's just a sequence of G, C, A, T )
    9. `va_procurement.csv`: Public spending by the state of Virginia

In [26]:
import pandas as pd
gifts = pd.read_csv("data/ForeignGifts_edu.csv")
gifts.head()

,ID,OPEID,Institution Name,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
0,1,102000,Jacksonville State University,Jacksonville,AL,43738,250000,Monetary Gift,CHINA,NaN
1,2,104700,Troy University,Troy,AL,43592,463657,Contract,CHINA,Confucius Institute Headquarters
2,3,105100,University of Alabama,Tuscaloosa,AL,43466,3649107,Contract,ENGLAND,Springer Nature Customer Service Ce
3,4,105100,University of Alabama,Tuscaloosa,AL,43472,1000,Contract,SAUDI ARABIA,Saudi Arabia Education Mission
4,5,105100,University of Alabama,Tuscaloosa,AL,43479,49476,Contract,SAUDI ARABIA,Saudi Arabia Education Mission

5. Pick two or three variables and briefly analyze them
    - Is it a categorical or numeric variable?
    - How many missing values are there? (`df['var'].isna()` and `np.sum()`)
    - If categorical, tabulate the values (`df['var'].value_counts()`) and if numeric, get a summary (`df['var'].describe()`)

The variables I'm choosing are "City", "Foreign Gift Amount", and "Country of Giftor". 

"City" and "Country of Giftor" are categorical. "Foreign Gift Amount" is numeric.

In [20]:
print(gifts['City'].isna().sum())
print(gifts['Foreign Gift Amount'].isna().sum())
print(gifts['Country of Giftor'].isna().sum())

print(gifts['Giftor Name'].isna().sum())

0
0
0
3751

"City", "Foreign Gift Amount", and "Country of Giftor" all have zero missing values. I was curious about this, so I also found the number of missing values in "Giftor Name". It has 3751, meaning not all the columns are perfectly filled in.

In [ ]:
pd.set_option('display.max_rows', None) # added this line to be able to see more of the values
gifts['City'].value_counts()

City
Los Angeles           4218
Pasadena              2502
New York              1507
Columbus              1238
Baltimore             1084
Cambridge             1038
Ann Arbor              715
Philadelphia           703
Stanford               668
Ithaca                 653
New Haven              550
Chicago                523
Pittsburgh             469
Denver                 439
Tempe                  403
Berkeley               394
Fort Collins           379
Austin                 377
College Station        376
Boulder                363
Babson Park            318
Glenside               304
Houston                299
Jamaica                288
Chapel Hill            286
Atlanta                264
Washington             258
Louisville             253
Evanston               251
Seattle                245
Indianapolis           244
Birmingham             241
Princeton              219
Boston                 218
La Jolla               203
Cleveland              189
Champaign              186
Athens                 181
University Park        174
Providence             163
Durham                 160
Pomona                 145
Kalamazoo              136
Notre Dame             122
Claremont              119
Richmond               115
Lawrence               115
Pullman                112
St Louis               109
Midland                105
Santa Barbara          102
West Lafayette          99
Charlottesville         98
Clemson                 94
Tucson                  91
College Park            86
Corvallis               85
Irvine                  83
Lexington               82
Davis                   78
Portland                74
Minneapolis             74
Iowa City               69
San Diego               64
Norman                  63
Tuscaloosa              63
Provo                   62
New Brunswick           61
Rochester               59
Fayetteville            57
Medford                 54
Wellesley               47
Syracuse                47
Waco                    45
Newark                  44
Tulsa                   43
San Francisco           43
Rolla                   42
Wichita                 41
Madison                 38
Fairfax                 38
Honolulu                36
Old Westbury            36
Haverford               33
Morgantown              33
Gainesville             33
Kansas City             32
Lubbock                 32
Flagstaff               31
Hanover                 30
Richardson              29
Bloomington             29
Coral Gables            27
Troy                    25
Wilkes-Barre            25
East Lansing            24
Colorado Springs        24
Blacksburg              24
Smithfield              22
Northampton             22
Riverside               22
Columbia                22
Galveston               21
Chestnut Hill           21
Milwaukee               21
Salt Lake City          21
Laramie                 21
Ames                    20
New Orleans             20
San Antonio             20
Montgomery              20
Mobile                  18
Williamsburg            17
Cheney                  17
Aliso Viejo             16
Santa Cruz              15
Dallas                  15
Springfield             15
Boise                   15
Muncie                  15
Oxford                  15
Williamstown            14
Arlington               14
Phoenix                 14
Raleigh                 14
Laie                    14
Melbourne               13
Nashville               13
Knoxville               13
Rock Hill               13
Storrs                  12
Toledo                  12
Greensboro              12
Merced                  12
Greeley                 12
Mt Pleasant             12
Manhattan               11
Hyde Park               11
Omaha                   10
DeKalb                  10
Saint Louis             10
San Bernardino          10
Middlebury               9
Cincinnati               9
Indiana                  9
San Marcos               9
Jacksonville             9
Keuka Park               9
Cedar Falls              9
Addison                  8
Union                    8
Worcester                8
Fargo                    8
Denton                   8
Eugene                   8
Waltham                  8
Burlington               7
Orange                   7
Bronx                    6
Fullerton                6
Amherst                  6
Hayward                  6
La Mirada                6
Dayton                   6
Orlando                  5
Valparaiso               5
Spokane                  5
Chico                    5
Northridge               5
Miami                    5
Charlotte                5
Alhambra                 5
Daphne                   5
Lincoln                  4
Vallejo                  4
Rexburg                  4
Buffalo                  4
Winston-Salem            4
Lamoni                   4
Hamilton                 4
Las Cruces               4
Murfreesboro             4
Fresno                   4
Tampa                    4
Stillwater               4
Villanova                4
Manchester               4
Bakersfield              4
Redmond                  3
Campbellsville           3
Lewisburg                3
Collegeville             3
Fort Lauderdale          3
West Haven               3
Saint Peter              3
Long Beach               3
Niagara University       3
Whittier                 3
Kennesaw                 3
Kent                     3
Garden City              3
Santa Clara              2
Corona                   2
Fort Worth               2
Appleton                 2
San Jose                 2
Saint Paul               2
Memphis                  2
Sacramento               2
Irving                   2
Tahlequah                2
Orono                    2
Towson                   2
Northfield               2
Alfred                   2
Houghton                 2
Terre Haute              2
Mount Vernon             2
Hoboken                  2
Weston                   2
Joplin                   2
Beaumont                 2
University               2
Carson                   1
Bethlehem                1
Detroit                  1
Macon                    1
Monmouth                 1
Edmond                   1
Orange Beach             1
Akron                    1
Jamestown                1
Swarthmore               1
Ankeny                   1
Lakewood                 1
Statesboro               1
Frostburg                1
Takoma Park              1
Sewanee                  1
Lewiston                 1
Wichita Falls            1
Murray                   1
Platteville              1
Salem                    1
Midway                   1
Fond Du Lac              1
Waterbury                1
Moscow                   1
Hilo                     1
Canton                   1
Name: count, dtype: int64

In [29]:
gifts['Country of Giftor'].value_counts()

Country of Giftor
ENGLAND                     3655
CHINA                       2461
CANADA                      2344
JAPAN                       1896
SWITZERLAND                 1676
SAUDI ARABIA                1610
FRANCE                      1437
GERMANY                     1394
HONG KONG                   1080
SOUTH KOREA                  811
QATAR                        693
THE NETHERLANDS              512
KOREA                        452
INDIA                        434
TAIWAN                       381
ISRAEL                       373
UNITED ARAB EMIRATES         365
SINGAPORE                    360
AUSTRALIA                    335
ITALY                        318
KUWAIT                       302
DENMARK                      292
SWEDEN                       275
BRAZIL                       256
SPAIN                        240
NORWAY                       240
IRELAND                      224
MEXICO                       221
INDONESIA                    184
NIGERIA                      180
OMAN                         178
MALAYSIA                     150
POLAND                       150
THAILAND                     143
BELGIUM                      142
UNITED NATIONS               141
SOUTH AFRICA                 135
TURKEY                       132
COLOMBIA                     129
BERMUDA                      117
KENYA                         76
SCOTLAND                      71
BAHAMAS                       70
NEW ZEALAND                   67
ZAMBIA                        63
PANAMA                        59
MONACO                        55
CHILE                         53
FINLAND                       52
AUSTRIA                       50
RUSSIA                        50
VIETNAM                       50
KAZAKHSTAN                    48
GEORGIA                       45
PERU                          42
GREECE                        38
USA                           36
JORDAN                        34
PORTUGAL                      33
COSTA RICA                    33
CAYMAN ISLANDS (THE)          32
LIECHTENSTEIN                 31
EGYPT                         31
ARGENTINA                     29
GHANA                         28
BANGLADESH                    28
CEYLON                        28
IRAQ                          27
RWANDA                        26
TANZANIA                      24
LUXEMBOURG                    24
GUATEMALA                     24
PHILIPPINES                   23
LEBANON                       22
ETHIOPIA                      17
UGANDA                        15
BAHRAIN                       14
GRENADA                       14
HUNGARY                       14
VIRGIN ISLANDS (BRITISH)      13
CZECH REPUBLIC                13
TRINIDAD                      11
SWAZILAND                     11
PAKISTAN                      11
UKRAINE                       10
HAITI                         10
BURMA                         10
MALAWI                        10
PALESTINE, STATE OF            9
DOMINICAN REPUBLIC             8
AMERICAN SAMOA                 8
ECUADOR                        7
MOROCCO                        7
BULGARIA                       7
GUAM                           7
PUERTO RICO                    6
JERSEY                         6
AFGHANISTAN                    6
GUERNSEY                       6
URUGUAY                        6
WALES                          6
MALTA                          5
VENEZUELA                      5
CURAçAO                        5
SERBIA                         5
EL SALVADOR                    5
HONDURAS                       5
LESOTHO                        5
MALI                           4
SENEGAL                        4
BOTSWANA                       4
CYPRUS                         4
MOZAMBIQUE                     4
JAMAICA                        4
SYRIAN ARAB REPUBLIC           4
YEMEN                          4
NORTHERN IRELAND               4
LIBERIA                        3
ISLE OF MAN                    3
LITHUANIA                      3
BRITISH WEST INDIES            3
LATVIA                         3
PAPUA NEW GUINEA               3
MAURITIUS                      3
BURKINA FASO                   2
ANGOLA                         2
CôTE D'IVOIRE                  2
MADAGASCAR                     2
IRAN                           2
NAMIBIA                        2
SLOVENIA                       2
BOLIVIA                        2
ICELAND                        2
NORTHERN MARIANA ISL           2
BOSNIA AND HERZEGOVINA         2
MICRONESIA                     2
AZERBAIJAN                     2
CAMBODIA                       2
BOSNIA-HERCEGOVINA             2
ZIMBABWE                       2
TUNISIA                        1
ST. KITTS-NEVIS                1
MARSHAL ISLANDS (THE)          1
PALAU                          1
ARMENIA                        1
ERITREA                        1
ROMANIA                        1
ST. LUCIA                      1
NEPAL                          1
SLOVAKIA                       1
TOKELAU                        1
BELARUS                        1
BARBADOS                       1
CROATIA                        1
ANTIGUA                        1
Name: count, dtype: int64

In [30]:
gifts['Foreign Gift Amount'].describe()

count    2.822100e+04
mean     5.882327e+05
std      3.222011e+06
min     -5.377700e+05
25%      5.700000e+03
50%      9.461500e+04
75%      3.761420e+05
max      1.000000e+08
Name: Foreign Gift Amount, dtype: float64

6. What are some questions and prediction tools you could create using these data? Who would the stakeholder be for that prediction tool? What practical or ethical questions would it create? What other data would you want, that are not available in your data?

Using the country, the amount gifted, and even who gave it (in case that information provides relavent context), one potential tool would be predicting whether a gift is likely to be monetary or a contract, since those types of 'gifts' often come with very different stipulations.

If the stakeholder was a university, they could use the data to figure out which countries and which organizations within those countries to focus on to try and gain future fundraising or partnerships. Aa model could also predict the expected size of a gift from certain countries or donors, or even maybe flag gifts that might raise compliance or ethical concerns (ex: strangely large contracts from politically sensitive regions). I think possible stakeholders could also include the Department of Education, policymakers, and students and faculty who are indirectly impacted how these financial resources are used. 

Some ethical concerns would be about transparency about where a gift comes from or the expectations joining it, foreign influence, whether some institutions gain some sort of advantage through foreign influence, and if the gift is indicative of a problematic relationship. 

I think to strengthen these prediction models and make sure ethical concerns are considered, I'd want more detail on the purpose of the gift, which department or program the gift is meant to benefit (if there are specific recievers intended), and if there are any conditions attached to the gift.

7. Commit your work to the repo (`git commit -am 'Finish assignment'` at the command line, or use the Git panel in VS Code). Push your work back to Github and submit the link on Canvas in the assignment tab.